<div id="aui-flag-container">
    <div class="aui-flag" aria-hidden="false">
        <div class="aui-message aui-message-{{type}} {{type}} closeable shadowed">{{message}}
            <!-- .aui-message -->
            {{--  <span class="aui-icon icon-close fa fa-close" role="button" tabindex="0"></span>  --}}
        </div>
    </div>
</div>