<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{dynamic_title || title}}</title>
    @entryPointScripts('app')
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    <!-- icheck-bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.css">
    <link rel="stylesheet" href="/css/ltr.css">
    @entryPointStyles('app')
    @!section('head')
</head>

<body class="sidebar-mini layout-fixed layout-footer-fixed layout-navbar-fixed" style="height: auto;">
    <div class="wrapper">
        @include('partials/header')
        @include('partials/sidebar')
        <div class="content-wrapper py-2" style="min-height: 338px;">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            @if(flashMessages.has('message.error'))
                            @!alert({
                            message:flashMessages.get('message.error'),
                            type:"error"
                            })
                            @end
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{header_text}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content px-2">

                @!section('body')
            </section>
        </div>
    </div>

    @section('scripts')
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.js"></script>

    {{--  <script src="/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>  --}}
    <script>
        let data = $(".nav-item.sidebar-item")
        data.toArray().forEach((el) => {
            let a__ = el.children.item(0)
            if(el.children.length > 1) {
                let items  = [...el.children.item(1).children];
                items.map((li) => {
                    let a = [...li.children]
                    a.map((v) => {
                        let matched = v.href.split(window.location.host)[1] === window.location.pathname
                        if(matched) {
                            el.classList.add("menu-is-opening")
                    el.classList.add("menu-open")
                    el.classList.add("active")
                            a__.classList.add("menu-is-opening")
                    a__.classList.add("menu-open")
                    a__.classList.add("active")
                            v.classList.add("active")
                        }
                    })
                })
            } else {
                // el.childNodes.item(1).classList.add("active")
                let matchedElement = el.childNodes.item(1)
                let matched = matchedElement.href.split(window.location.host)[1] === window.location.pathname
                if(matched) {
                    matchedElement.classList.add("active")
                }
            }
        })
    </script>
    @endsection
</body>

</html>