<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    @entryPointScripts('app')
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    <!-- icheck-bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.css">
    <link rel="stylesheet" href="/css/ltr.css">
    @entryPointStyles('app')
</head>

<body class="sidebar-mini layout-fixed layout-footer-fixed layout-navbar-fixed" style="height: auto;">
    <div class="wrapper">
        @include('partials/header')
        @include('partials/sidebar')
        <div class="content-wrapper px-4 py-2" style="min-height: 338px;">
            <div class="content-header">
                <h1>Woop</h1>
            </div>
            <div class="content px-2">
                @!section('body')
            </div>
        </div>
    </div>

    @section('scripts')
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.js"></script>

    {{--  <script src="/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>  --}}
    @endsection
</body>

</html>